<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="FrameworkE2E.Listeners"/>
  </listeners>
  <test name="Validating User login">
    <classes>
      <class name="FrameworkE2E.GetTitle"/>
      </classes>
      </test>
       <test name="Validating title in the Page">
        <classes>
      <class name="FrameworkE2E.HomePage"/>
       </classes>
      </test>
      
      <test name="Validating navigation Bar">
      <classes>
      <class name="FrameworkE2E.ValidateNavigationBar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
